@model StockTakingDatatableViewModel

<form asp-action="UpdateQuantity" asp-controller="StockTaking" callbackfn="StockTakingSuccess()" class="form-validate-jquery" method="PUT">
    <div class="modal-header">
        <h5 class="modal-title">Edit Quantity</h5>
        <input hidden type="text" asp-for="@Model.Date" value="@Model.Date" class="form-control" />
        <input hidden type="text" asp-for="@Model.ProductId" value="@Model.ProductId" class="form-control" />
        <input hidden type="text" asp-for="@Model.StockId" value="@Model.StockId" class="form-control" />
        <input hidden type="text" asp-for="@Model.UnitId" value="@Model.UnitId" class="form-control" />
    </div>
    <div class="modal-body row">
        <div class="col-md-6">
            <label class="clear-fix font-weight-semibold">Unit name</label>
            <input type="text" asp-for="@Model.UnitName" value="@Model.UnitName" class="form-control format-number" />
            <span asp-validation-for="@Model.UnitName" class="validation-invalid-label"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Quantity" class="clear-fix font-weight-semibold"></label>
            <input type="text" asp-for="@Model.Quantity" value="@Model.Quantity" class="form-control format-number" />
            <span asp-validation-for="@Model.Quantity" class="validation-invalid-label"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success ml-1 btn-sm mr-0">@EText.Update.Description() <i class="fa fa-check ml-1"></i></button>
        <a data-dismiss="modal" class="btn btn-light ml-1 btn-sm">@EText.Cancel.Description() <i class="fas fa-times mr-1"></i></a>
    </div>
</form>

<script>

</script>