@inject AdwardSoft.Provider.Common.IUserSession userSession;
@model List<AdwardSoft.Web.Inside.Models.UserInfoViewModel>

@{
    ViewData["Title"] = "Tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheet {
    <style>
        #UserTable_filter label::after {
            content: '' !important
        }
    </style>
}

<div class="row">
    <div id="listUser" class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">List's user</h5>
                <div class="card-header header-elements-md-inline">
                    <div class="row">
                        <div class="col-md-auto">
                            <a href="@Url.Action("_UserForm","User")" callbackFn="UserSuccess()" checkvalidate="true" modal-size="modal-lg" class="btn btn-medium btn-primary modal-link">
                                <i class="icon-plus22 mr-1"></i><span class="hidden-xs">Create</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto float-right">
                            <label class="clear-fix font-weight-semibold">Status</label>
                            <div class="col-md-auto">
                                <select class="form-control select" asp-items="Html.GetEnumSelectList<EUserStatus>()" onchange="UserSuccess()" id="Select"></select>
                            </div>
                        </div>
                     
                    </div>
                </div>

            </div>
            <div class="card-body">
                <table id="UserTable" class="table datatable-save-state w-100">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th class="text-center" width="15%">Avatar</th>
                            <th class="text-center" width="25%">Name</th>
                            <th class="text-center" width="20%">Email</th>
                            <th class="text-center" width="15%">Phone</th>
                            <th class="text-center" width="15%">Status</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script id="UserAction" type="text/x-jsrender">
        <div class="list-icons">
            {{if data.id != @userSession.UserId}}
            <a data-toggle="tooltip" title="Change password" href="@Url.Action("_ChangePasswordForm","User")" callbackFn="UserSuccess()" data-params='{"id":"{{:data.id}}"}' class="list-icons-item modal-link"><i class="icon-lock "></i></a>
            {{else}}
            <a data-toggle="tooltip" title="Change password" href="@Url.Action("_ChangePasswordForm","User")" callbackFn="UserSuccess()" data-params='{"id":"{{:data.id}}"}' class="list-icons-item disabled-item"><i class="icon-lock "></i></a>
            {{/if}}
            <a data-toggle="tooltip" title="Update" href="@Url.Action("_UserForm","User")" callbackFn="UserSuccess()" data-params='{"id":"{{:data.id}}"}' modal-size="modal-md" class="list-icons-item modal-link"><i class="icon-pencil7 "></i></a>
            {{if data.id !== @userSession.UserId}}
            <a data-toggle="tooltip" title="Delete" href="#" class="list-icons-item"><i data-action="/User/Delete" callbackfn="UserSuccess()" class="icon-trash remove-item" data-params='{"id":"{{:data.id}}"}'></i></a>
            {{else}}
            <a data-toggle="tooltip" title="Delete" href="#" class="list-icons-item disabled-item"><i class="icon-trash"></i></a>
            {{/if}}
        </div>
    </script>
    <script>
        $('.select').select2({
            minimumResultsForSearch: Infinity
        });

        var rebindValidation = function () {
            $('form').each(function (i, f) {
                $form = $(f);
                $form.removeData('validator');
                $form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse($form);
            });
        }

        $(document).ready(function () {
             var UserAction = $.templates("#UserAction");
             var $UserTable = $("#UserTable").DataTable({
                processing: true,
                responsive: true,
                scrollX: true,
                ajax: function (data, callback, settings) {
                    $.ajax({
                        url: "@Url.Action("Read", "User")",
                        data: {
                            "status": Number($("#Select").val()),
                            "type": 1,
                        },
                        method: "GET",
                        success: function (response) {
                            callback({ data: response });
                        }
                    });
                 },
                 columnDefs: [
                     {
                         "targets": [0],
                         "visible": false,
                         "searchable": false
                     },
                     { className: "text-center", targets: 1 }
                 ],
                pageLength: 5,
                paging: true,
                 cache: false,
                 lengthChange: false,
                 columns: [
                     { data: "id" },
                     {
                         data: "avatar",
                         render: function (data, type, row) {
                             if (data != null)
                                 return '<img src="../../upload/Images/Avatar/' + data + '" class="rounded-circle" width="40" height="40" alt="">';
                             else
                                 return data;
                         }
                     },
                    { data: "fullName"},
                    { data: "email" },
                    { data: "phoneNumber" },
                    {
                        data: "status",
                        render: function (data, type, row) {
                            switch (data) {
                                case 0:
                                    return '<p class="text-primary">@EUserStatus.Available</p>';
                                    break;
                                case 1:
                                    return '<p class="text-blue">@EUserStatus.Invisible</p>';
                                    break;
                                case 2:
                                    return '<p class="text-warning">@EUserStatus.Lock</p>';
                                    break;
                                case 3:
                                    return '<p class="text-danger">@EUserStatus.Remove</p>';
                                    break;
                            }
                        }
                    },
                    {
                        data: { id: "id" },
                        render: function (data, type, row) {

                            return (UserAction.render({ data: data }));;
                        }
                    },
                ],
                language: {
                    search: '<div class="row">_INPUT_</div>',
                    searchPlaceholder: 'Search...',
                    info: "<span style='padding-left:2%;'>Page _PAGE_ / _PAGES_</span>",
                    paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' },
                    processing: "",
                    infoEmpty: "",
                    emptyTable: "@EText.EmptyTable.Description()",
                    zeroRecords: "@EText.EmptyTable.Description()",
                    infoFiltered: "",
                    processing: "@EText.Processing.Description()",
                }
             });
        });

        $('#Select').on('change', function () {
            $('#UserTable').DataTable().ajax.reload();
        });

        var UserSuccess = function () {
            $('#UserTable').DataTable().ajax.reload();
        }
    </script>
}





