@model ReportSellingPriceViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Report Selling Price";
    var Suppliers = @ViewBag.Suppliers;
    var ReceivingReportId = @ViewBag.ReceivingReportId;
    string isReceiving = !String.IsNullOrEmpty(ReceivingReportId) ? "hidden" : "";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Report Selling Price</h5>
                <input hidden id="ReceivingReportId" type="text" value="@ReceivingReportId">
                <div class="card-header header-elements-md-inline">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div @isReceiving class="col-md-auto float-right">
                            <label class="clear-fix font-weight-semibold">Suppliers</label>
                            <select id="supplier-select" class="form-control select-search" asp-items="Suppliers">
                                <option value="0" selected>-- All --</option>
                            </select>
                        </div>
                        <div @isReceiving class="col-md-auto float-right">
                            <label class="clear-fix font-weight-semibold">Receiving</label>
                            <select id="receiving-select" class="form-control select-search">
                                <option value="" selected>-- All --</option>
                            </select>
                        </div>
                        <div @isReceiving class="col-md-auto float-right">
                            <label class="clear-fix font-weight-semibold">Date</label>
                            <div class="form-group-feedback form-group-feedback-left ">
                                <input type="text" id="date-filter" class="form-control">
                                <div class="form-control-feedback">
                                    <i class="icon-calendar22"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <table id="ReportSellingPriceTable" class="table datatable-save-state w-100">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="Supplier"></label>
                            </th>
                            <th>
                                <label asp-for="Barcode"></label>
                            </th>
                            <th>
                                <label asp-for="Name"></label>
                            </th>
                            <th>
                                <label asp-for="Unit"></label>
                            </th>
                            <th>
                                <label asp-for="AvgPrice"></label>
                            </th>
                            <th>
                                <label asp-for="SellingPrice"></label>
                            </th>
                            <th>
                                <label asp-for="Rate"></label>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var $SupplierSelect = $('#supplier-select')
        var $ReceivingSelect = $('#receiving-select')
        var $DateFilter = $('#date-filter')
        var $ReportSellingPriceTable

        $(document).ready(function () {
            $(function () {
                $("#titlePage").text('Report Selling Price')
            });
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
            $('.select-search').select2();
        });


        $DateFilter.daterangepicker({
            applyClass: 'bg-slate-600',
            cancelClass: 'btn-light',
            singleDatePicker: false,
            timePicker: false,
            autoclose: true,
            opens: 'right',
            minDate: new Date(new Date().getFullYear(), 0, 1),
            maxDate: new Date(new Date().getFullYear(), 11, 31),
            startDate: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
            endDate: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0),
            locale: {
                format: 'DD/MM/YYYY'
            }
        })

        $ReportSellingPriceTable = $("#ReportSellingPriceTable").DataTable({
            processing: true,
            responsive: true,
            ajax: function (data, callback, settings) {
                $.ajax({
                    data: {
                        "model": data,
                        "date": $DateFilter.val(),
                        "receivingReportId": $ReceivingSelect.val(),
                        "receivingReportTmpId": $("#ReceivingReportId").val(),
                        "supplierId": $SupplierSelect.val()
                    },
                    url: "@Url.Action("ReadSellingPrice", "Report")",
                    method: "POST",
                    success: function (response) {
                        callback({ data: response.data, draw: response.draw, recordsFiltered: response.recordsFiltered, recordsTotal: response.recordsTotal });
                    }
                })
            },
            lengthMenu: [10, 25, 50, 75, 100],
            paging: true,
            serverSide: true,
            cache: false,
            lengthChange: true,
            filter: true,
            search: true,
            order: false,
            columns: [
                { data: "supplier" },
                { data: "barcode" },
                { data: "name" },              
                { data: "unit" },
                {
                    data: "avgPrice",
                    render: (data, type, row) => FormatCurrency(data)
                },
                {
                    data: "sellingPrice",
                    render: (data, type, row) => FormatCurrency(data)
                },
                {
                    data: "rate",
                    render: (data, type, row) => FormatCurrency(data)
                }
            ],
            //dom: 'Blfrtip',
            language: {
                search: '<div class="row">_INPUT_</div>',
                searchPlaceholder: 'search...',
                info: "<span style='padding-left:2%;'>Page _PAGE_ / _PAGES_</span>",
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' },
                processing: "",
                infoEmpty: "",
                emptyTable: "@EText.EmptyTable.Description()",
                zeroRecords: "@EText.EmptyTable.Description()",
                infoFiltered: "",
                processing: "@EText.Processing.Description()",
            }
        })
    </script>

    @* ------ Events ------ *@
    <script>
        $DateFilter.on('change', function (e) {
            $ReportSellingPriceTable.ajax.reload()
        })

        $SupplierSelect.on('change', function (e) {
            $.ajax({
                url: "/Report/SelectReceiving",
                method: "GET",
                data: {
                    "supplierId": $SupplierSelect.val(),
                    "date": $DateFilter.val()
                },
                dataType: "json",
                success: function (data) {
                    var places = [];
                    $(data).each(function (index, value) {
                        places.push(value);
                    });
                    if ($ReceivingSelect.prop) {
                        var options = $ReceivingSelect.prop('options');
                    }
                    else {
                        var options = $ReceivingSelect.attr('options');
                    }
                    $('option', $ReceivingSelect).remove();
                    options[options.length] = new Option("-- Select --", "");
                    $.each(places, function (index, item) {
                        options[options.length] = new Option(item.text, item.id);
                    });
                    $ReportSellingPriceTable.ajax.reload()
                },
                error: function (error) {
                }
            })
            
        })

        $ReceivingSelect.on('change', function (e) {
            $ReportSellingPriceTable.ajax.reload()
        })
    </script>
}
