@model ReportServiceDisplayViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";                
    ViewData["Title"] = "Report ServiceDisplay";               
    var Suppliers = @ViewBag.Suppliers; 
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Report Service Display</h5>
                <div class="card-header header-elements-md-inline">
                    <div class="row">
                        <div class="col-md-auto">
                            <label class="clear-fix font-weight-semibold" asp-for="TotalSupplier"></label>
                            <div id="TotalSupplier" class="form-control-plaintext text-primary">0</div>
                        </div>
                        <div class="col-md-auto">
                            <label class="clear-fix font-weight-semibold" asp-for="TotalAmount"></label>
                            <div id="TotalAmount" class="form-control-plaintext text-success">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto float-right">
                            <label class="clear-fix font-weight-semibold">Suppliers</label>
                            <select id="supplier-select" class="form-control select-search" asp-items="Suppliers">
                                <option value="0" selected>-- All --</option>
                            </select>
                        </div>
                        <div class="col-md-auto float-right">
                            <label class="clear-fix font-weight-semibold">Date</label>
                            <div class="form-group-feedback form-group-feedback-left ">
                                <input type="text" id="date-filter" class="form-control">
                                <div class="form-control-feedback">
                                    <i class="icon-calendar22"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <table id="ReportServiceDisplayTable" class="table datatable-save-state w-100">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="DateFrom"></label>
                            </th>
                            <th>
                                <label asp-for="DateTo"></label>
                            </th>
                            <th>
                                <label asp-for="Supplier"></label>
                            </th>
                            <th>
                                <label asp-for="PaymentPeriod"></label>
                            </th>
                            <th>
                                <label asp-for="Fee"></label>
                            </th>
                            <th>
                                <label asp-for="Description"></label>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var $SupplierSelect = $('#supplier-select')
        var $DateFilter = $('#date-filter')
        var $ReportServiceDisplayTable     

        $(document).ready(function () {
            $(function () {
                $("#titlePage").text('Report ServiceDisplay')
            });
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
            $('.select-search').select2();
        });

        $DateFilter.daterangepicker({
            applyClass: 'bg-slate-600',
            cancelClass: 'btn-light',
            singleDatePicker: false,
            timePicker: false,
            autoclose: true,
            opens: 'right',
            minDate: new Date(new Date().getFullYear(), 0, 1),
            maxDate: new Date(new Date().getFullYear(), 11, 31),
            startDate: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
            endDate: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0),
            locale: {
                format: 'DD/MM/YYYY'
            }
        })

        $ReportServiceDisplayTable = $("#ReportServiceDisplayTable").DataTable({
            processing: true,
            responsive: true,
            ajax: function (data, callback, settings) {
                $.ajax({
                    data: {
                        "model": data,
                        "date": $DateFilter.val(),
                        "supplierId": $SupplierSelect.val()
                    },
                    url: "@Url.Action("ReadServiceDisplay", "Report")",
                    method: "POST",
                    success: function (response) {
                        $("#TotalSupplier").text(response.data.totalSupplier);
                        $("#TotalAmount").text(response.data.totalAmount);
                        callback({ data: response.data, draw: response.draw, recordsFiltered: response.recordsFiltered, recordsTotal: response.recordsTotal });
                    }
                })
            },
            lengthMenu: [10, 25, 50, 75, 100],
            paging: true,
            serverSide: true,
            cache: false,
            lengthChange: true,
            filter: true,
            search: true,
            order: false,
            columns: [
                {
                    data: "dateFrom",
                    render: (data, type, row) => moment(data).format('DD/MM/YYYY')
                },
                {
                    data: "dateTo",
                    render: (data, type, row) => moment(data).format('DD/MM/YYYY')
                },
                {
                    data: "supplier",
                    render: (data, type, row) => data
                },
                {
                    data: "paymentPeriod",
                    render: function (data, type, row) {
                        if (Number(data) == 0) {
                            return "<span class='text-success'>@EPaymentPeriod.Month.Description()</span>";
                        }
                        else if (Number(data) == 1) {
                            return "<span class='text-primary'>@EPaymentPeriod.Quater.Description()</span>";
                        }
                        else {
                            return "<span class='text-warning'>@EPaymentPeriod.Year.Description()</span>";
                        }
                    }
                },
                {
                    data: "fee",
                    render: (data, type, row) => FormatCurrency(data)
                },
                {
                    data: "description",
                    render: (data, type, row) => data.trunc(25)
                }
            ],
            //dom: 'Blfrtip',
            language: {
                search: '<div class="row">_INPUT_</div>',
                searchPlaceholder: 'search...',
                info: "<span style='padding-left:2%;'>Page _PAGE_ / _PAGES_</span>",
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' },
                processing: "",
                infoEmpty: "",
                emptyTable: "@EText.EmptyTable.Description()",
                zeroRecords: "@EText.EmptyTable.Description()",
                infoFiltered: "",
                processing: "@EText.Processing.Description()",
            }
        })

        String.prototype.trunc =
            function (n) {
                return this.substr(0, n - 1) + (this.length > n ? '&hellip;' : '');
            };
    </script>

    @* ------ Events ------ *@

    <script>
        $DateFilter.on('change', function (e) {
            $ReportServiceDisplayTable.ajax.reload()
        })

        $SupplierSelect.on('change', function (e) {
            $ReportServiceDisplayTable.ajax.reload()           
        })
    </script>
}
