@model CustomerGroupViewModel

@{
    ViewData["Title"] = "Customer group";
}

<div class="row">
    <div class="col-3">
        <div class="card" id="_Form">

        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Danh sách loại hình phân phối</h5>
                <div class="form-group"></div>
                <div class="row">
                    
                    <div class="col-md-auto float-right">
                        <label asp-for="Status" class="clear-fix font-weight-semibold"></label>
                        <select id="status-select" class="form-control select" asp-items="@Html.GetEnumSelectList<EStatus>()">
                            <option value="-1" selected>Tất cả</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="CustomerGroupTable" class="table datatable-save-state w-100">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="Name"></label>
                            </th>
                            <th>
                                <label asp-for="Note"></label>
                            </th>
                            
                            <th>
                                <label asp-for="Status"></label>
                            </th>
                            <th class="text-center text-muted" style="width: 30px;"><i class="icon-checkmark3"></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script id="CustomerGroupAction" type="text/x-jsrender">
        <div class="list-icons">
            <div class="list-icons-item dropdown">
                <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    @* -- Edit -- *@
                    <a onclick="ReadById('{{:id}}')" class="dropdown-item">
                        <i class="icon-pencil7" data-toggle="tooltip" title="Edit"></i>
                        @EText.Edit
                    </a>
                    @* -- Remove -- *@
                    <a data-action="/CustomerGroup/Delete" callbackfn="CustomerGroupSuccess()" data-params='{"id":"{{:id}}"}' href="#" class="dropdown-item remove-item">
                        <i class="icon-trash" data-toggle="tooltip" title="Remove"></i>
                        @EText.Remove
                    </a>
                </div>
            </div>
        </div>
    </script>
    <script>
        var $pricingPolicySelect = $('#pricing_policy-select')
        var $statusSelect = $('#status-select')

        $(document).ready(function () {
            setTimeout(rebindValidation, 500)
            ReadById(0)
        })

        var rebindValidation = function () {
            $('form').each(function (i, f) {
                $form = $(f)
                $form.removeData('validator')
                $form.removeData('unobtrusiveValidation')
                $.validator.unobtrusive.parse($form)
            })

            $('.select-search').select2()
        };

        var $CustomerGroupTable
        var CustomerGroupAction = $.templates("#CustomerGroupAction")

        $CustomerGroupTable = $("#CustomerGroupTable").DataTable({
            ajax: function (data, callback, settings) {
                $.ajax({
                    url: "@Url.Action("Read", "CustomerGroup")",
                    data: {
                        "pricingPolicy": $pricingPolicySelect.val(),
                        "status": $statusSelect.val()
                    },
                    method: "GET",
                    success: function (response) {
                        callback({ data: response })
                    }
                })
            },
            processing: true,
            responsive: true,
            pageLength: 10,
            paging: true,
            cache: false,
            lengthChange: false,
            filter: true,
            search: true,
            columns: [
                { data: "name" },
                { data: "note" },
               
                {
                    data: "status",
                    render: (data, type, row) => data === 0 ? '<p class="text-danger">@EStatus.Unavailable.Description()</p>' : '<p class="text-success">@EStatus.Available.Description()</p>'
                },
                {
                    "data": "id",
                    render: function (data, type, row) {
                        return (CustomerGroupAction.render({ id: data }));
                    }
                },
            ],
            language: {
                search: '<div class="row"><div class="col-md-12">_INPUT_</div></div>',
                searchPlaceholder: 'Search...',
                info: "<span style='padding-left:2%;'>Page _PAGE_ / _PAGES_</span>",
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' },
                processing: "",
                infoEmpty: "",
                emptyTable: "@EText.EmptyTable.Description()",
                zeroRecords: "@EText.EmptyTable.Description()",
                infoFiltered: "",
                processing: "@EText.Processing.Description()",
            }
        });

        function ReadById(id) {
            $.ajax({
                url: "@Url.Action("_Form", "CustomerGroup")",
                method: "GET",
                data: { "id": id },
                success: function (data) {
                    $("#_Form").empty();
                    $("#_Form").html(data);
                    rebindValidation()
                }
            });
        };

        var CustomerGroupSuccess = function () {
            $CustomerGroupTable.ajax.reload();
            ReadById(0)
        };
    </script>
    @* --- Event --- *@
    <script>
        $pricingPolicySelect.on('change', function (e) {
            $CustomerGroupTable.ajax.reload();
        })

        $statusSelect.on('change', function (e) {
            $CustomerGroupTable.ajax.reload();
        })
    </script>
}
