@model SettingViewModel

@{ 
    var isNew = Model.Id == default(int);
    var methodAction = isNew ? "Post" : "Put";
    var action = isNew ? "Create" : "Update";
}

<form asp-controller="Setting" asp-action="@action" class="form-validate-jquery form-content" id="_FormView" callbackfn="SettingSuccess()" method="@methodAction">
    <div class="modal-header">
        <h5 class="modal-title">Cập nhật thông tin hệ thống</h5>
        @if (isNew)
        {
            @*<h5 class="modal-title">@EText.Create.Description()</h5>*@
        }
        else
        {
            @*<h5 class="modal-title">@EText.Update.Description() </h5>*@
            <input type="text" hidden value="@Model.Id" asp-for="@Model.Id" />
        }
    </div>
    <div class="modal-body row">
        <div class="col-md-6">
            <label asp-for="ProjectName" class="clear-fix font-weight-semibold ads-control"></label>
            <input type="text" asp-for="@Model.ProjectName" value="@Model.ProjectName" class="form-control" />
            <span asp-validation-for="@Model.ProjectName" class="validation-invalid-label"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="CompanyName" class="clear-fix font-weight-semibold ads-control"></label>
            <input type="text" asp-for="@Model.CompanyName" value="@Model.CompanyName" class="form-control" />
            <span asp-validation-for="@Model.CompanyName" class="validation-invalid-label"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Address" class="clear-fix font-weight-semibold ads-control"></label>
            <input type="text" asp-for="@Model.Address" value="@Model.Address" class="form-control" />
            <span asp-validation-for="@Model.Address" class="validation-invalid-label"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Tel" class="clear-fix font-weight-semibold ads-control"></label>
            <input type="text" asp-for="@Model.Tel" value="@Model.Tel" class="form-control format-number" />
            <span asp-validation-for="@Model.Tel" class="validation-invalid-label"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.MapCoordinateLat" class="clear-fix font-weight-semibold ads-control"></label>
            <input asp-for="@Model.MapCoordinateLat" value="@Model.MapCoordinateLat" type="text" class="form-control format-number">
            <span asp-validation-for="@Model.MapCoordinateLat" class="validation-invalid-label"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.MapCoordinateLong" class="clear-fix font-weight-semibold ads-control"></label>
            <input asp-for="@Model.MapCoordinateLong" value="@Model.MapCoordinateLong" type="text" class="form-control format-number">
            <span asp-validation-for="@Model.MapCoordinateLong" class="validation-invalid-label"></span>
        </div>
        @*<div class="col-md-12">
            <label asp-for="@Model.ErrorRange" class="clear-fix font-weight-semibold ads-control"></label>
            <input asp-for="@Model.ErrorRange" value="@String.Format("{0:#,##0.##}", Model.ErrorRange)" type="text" class="form-control format-number">
            <span asp-validation-for="@Model.ErrorRange" class="validation-invalid-label"></span>
        </div>*@
        <div class="col-md-6">
            <label asp-for="Website" class="clear-fix font-weight-semibold ads-control"></label>
            <input type="text" asp-for="@Model.Website" value="@Model.Website" class="form-control" />
            <span asp-validation-for="@Model.Website" class="validation-invalid-label"></span>
        </div>
    </div>
    <div class="modal-footer row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end align-items-center clear-fix">
                <a href="#" onclick="ReadById(0)" class="btn btn-light ml-1 btn-sm">@EText.Cancel.Description() <i class="fas fa-times mr-1"></i></a>
                @if (isNew)
                {
                    <button type="submit" class="btn btn-success ml-1 btn-sm mr-0">Create <i class="fa fa-check ml-1"></i></button>
                }
                else
                {
                    <button type="submit" class="btn btn-success ml-1 btn-sm mr-0">@EText.Update.Description() <i class="fa fa-check ml-1"></i></button>
                }
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.select').select2({
            minimumResultsForSearch: Infinity
        });
        $('.select-search').select2();
        setTimeout(rebindValidation, 500);
    });
</script>