@inject AdwardSoft.Provider.Common.IUserSession userSession
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>



    <environment>
        <link href="~/lib/tinymce/GoogleSans/stylesheet.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="~/admin/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        @*<link href="~/admin/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />*@
        <link href="~/admin/global_assets/css/icons/fontawesome/css/all.min.css" rel="stylesheet" />
        <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/layout.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/components.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/colors.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/style.css" rel="stylesheet" />
        <link href="~/admin/global_assets/css/Custom.css" rel="stylesheet" />
        <link href="~/admin/global_assets/css/daterangepicker.css" rel="stylesheet" />
        <link href="~/lib/datatable/fixedcolumn/fixedColumns.min.css" rel="stylesheet" />
        <link href="~/lib/datatable/rowgroup/rowGroup.min.css" rel="stylesheet" />
        <link href="~/lib/datatable/buttons/buttons.min.css" rel="stylesheet" />
        <!-- /global stylesheets -->
        @RenderSection("StyleSheet", required: false)
    </environment>

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand wmin-0 mr-1">
            <a href="/" class="d-inline-block">
                <img style="" src="~/admin/global_assets/images/DongLamLogo.png" alt="" />
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
            </ul>

            <span class="navbar-text ml-md-3 mr-md-auto">
                @*<span class="badge bg-success-400 badge-pill">16 orders</span>*@
            </span>

            <ul class="navbar-nav">

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                      
                            @if (String.IsNullOrEmpty(userSession.Avatar) == true)
                            {
                                <img id="AvatarLayout" src="~/images/user.png" class="rounded-circle" alt="" width="35" height="35">
                            }
                            else
                            {
                                <img id="AvatarLayout" src="~/upload/Images/Avatar/@userSession.Avatar" class="rounded-circle" alt="" width="35" height="35">
                            }

                    <span id="FullNameLayout">@userSession.FullName</span>
                    
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <form asp-controller="User" asp-action="Logout" method="post" id="fLogout" class="navbar-right">
                            <a href="@Url.Action("Profile","Home")" class="dropdown-item"><i class="icon-user-plus"></i> Hồ Sơ Của Bạn </a>
                            <a href="@Url.Action("PasswordChange","Home")" class="dropdown-item modal-link"><i class="icon-lock"></i> Thay Đổi Mật Khẩu </a>
                            <a href="@Url.Action("_UserBranchForm","User")" modal-size="modal-sm" callbackfn="reloadCurrentPage()" class="dropdown-item modal-link"><i class="icon-store"></i> Thay Đổi Chi Nhánh </a>
                            <button type="submit" class="dropdown-item"><i class="icon-switch2"></i> Đăng Xuất </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    @await Component.InvokeAsync("HorizontalMenu")
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4>                   
                    <a @*href="javascript:window.history.go(-1);"*@ onclick="goBack()" class="header-elements-toggle text-default"> <i class="icon-arrow-left52 mr-2"></i></a>
                    <span class="font-weight-semibold" id="titlePage"></span>
                </h4>
                
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Page content -->
    <div class="page-content pt-0">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">
                @RenderBody()
            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; @DateTime.Now.Year.ToString(). <a href="#">Copyright</a> by <a href="https://adwardsoft.com" target="_blank">AdwardSoft</a>
            </span>
        </div>
    </div>
    <!-- /footer -->
    <environment>
        <!-- Core JS files -->
        <script src="~/admin/global_assets/js/main/jquery.min.js"></script>
        <script src="~/admin/global_assets/js/main/bootstrap.bundle.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/loaders/blockui.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
        <script src="~/admin/global_assets/js/main/jquery-ui.min.js"></script>
        <!-- /core JS files -->
        <!-- Theme JS files -->
        <script src="~/admin/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>

        <script src="~/admin/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
        <script src="~/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>

        <script src="~/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/forms/styling/switch.min.js"></script>

        <!-- Button with spinner -->
        <script src="~/admin/global_assets/js/plugins/buttons/spin.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/buttons/ladda.min.js"></script>
        <!-- TinyMCE -->
        <script src="~/lib/tinymce/tinymce.min.js"></script>
        <!-- Alert -->
        <script src="~/admin/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
        <!-- FormWizard -->
        <script src="~/admin/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
        <!-- Datatable -->

        <script src="~/lib/datatable/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatable/dataTables.min.js"></script>
        <script src="~/lib/datatable/rowgroup/rowGroup.min.js"></script>
        <script src="~/lib/datatable/fixedcolumn/fixedColumns.min.js"></script>
        <script src="~/lib/datatable/buttons/dataTables.buttons.min.js"></script>

        <script src="~/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
        <script src="~/admin/global_assets/js/main/buttons.print.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js"></script>
        <!-- Noty -->
        <script src="~/admin/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/notifications/noty.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/admin/global_assets/js/plugins/notifications/pnotify.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>

        @*<script src="~/lib/app/modals.js"></script>*@
        <script>
            var ajaxDefaultObject = $.ajax;
        </script>
        <script src="~/lib/app/ADS.js"></script>
        <script src="~/admin/global_assets/js/main/Custom.js"></script>
        <script src="~/lib/jsrender/jsrender.min.js"></script>
        <script src="~/lib/jsrender/jsviews.min.js"></script>

        <script src="~/lib/app/ChartCustom.js"></script>


        <script src="~/admin/assets/js/app.js"></script>
        <script src="~/admin/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
        <script src="~/admin/global_assets/js/demo_pages/form_wizard.js"></script>
        <script src="~/admin/global_assets/js/demo_pages/picker_color.js"></script>
        <script src="~/admin/global_assets/js/demo_pages/components_popups.js"></script>
        <script src="~/admin/global_assets/js/plugins/pickers/color/spectrum.js"></script>
        <script src="~/admin/global_assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
        @*<script src="https://www.paypal.com/sdk/js?client-id=AaTFt--8Axb0Ah55L4zWFcUe3K93YGi5LemsFhVaqa6amnS3RcQTCw9fzLv2plamxmxOyp0FY39fvVbG&disable-funding=card"></script>*@
        @RenderSection("Scripts", required: false)
    </environment>
    <script>
        function goBack() {
            window.history.go(-1);
        }
        $(function () {
            $("#titlePage").text($("#navbar-navigation a.active").text())
        });

        function reloadCurrentPage() {
            location.reload();
        }
    </script>
</body>
</html>
